.search-bar-form {
    display: flex;
    flex-direction: row;
    width: 78.541%;
    margin: 0 10.834% 0 10.625%;
    min-width: 754px;
    height: 85px;
    margin: 0 auto 24px auto;
    padding: 0;
    border: 0;
    column-gap: 2px;
    border-bottom: 1px solid #DADADA;
}